<ion-card>
    <ion-card-header>
        <ion-card-title>{{ pseudo }} à toi de jouer !</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item *ngIf="!finished">
        <ion-grid>
            <ion-radio-group [(ngModel)]="answered">
                <ion-row>
                    <ion-col>
                        <ion-text>
                            <h1>{{ questions[current].question }}</h1>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-padding-top">
                    <ion-col *ngFor="let item of answers">
                        <ion-item [ngClass]="{
                            'good': (item == questions[current].correct_answer && checkAnswer),
                             'bad' : (item != questions[current].correct_answer && checkAnswer)
                             }"
                        >
                            <ion-label>{{ item }}</ion-label>
                            <ion-radio
                                [color]="checkAnswer == false ? 'primary' : (item == questions[current].correct_answer) ? 'success' : 'danger'"
                                value="{{ item }}"
                                (click)="check()"
                                [disabled]="checkAnswer"
                            ></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-radio-group>
        </ion-grid>
        </ion-item>
        <ion-item *ngIf="finished">
            <h1>Score : {{ score }}</h1>
        </ion-item>
    </ion-card-content>
</ion-card>
<ion-grid>
    <ion-row class="ion-text-end">
        <ion-col>
            <ion-button [disabled]="!answered" (click)="next()" *ngIf="current + 1 < questions.length">Suivant</ion-button>
            <ion-button *ngIf="current + 1 == questions.length && checkAnswer" (click)="end()">Voir mon score</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
