<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngIf="!running">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Pseudo</ion-label>
          <ion-input [(ngModel)]="pseudo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Difficulté</ion-label>
          <ion-select [(ngModel)]="difficullty">
            <ion-select-option *ngFor="let item of difficulties" value="{{ item }}">
              {{ item }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Sauvegarder mes informations</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="remberMe" slot="start"></ion-checkbox>
        </ion-item>
        <div class="ion-text-center danger">
          <ion-label *ngIf="error" color="danger">{{ error }}</ion-label>
        </div>
        <ion-button (click)="start()" [disabled]="!registered()">Commencer</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
